pkgbase = libfprint-cs9711-rebase-git-zez
	pkgdesc = libfprint with CS9711 fingerprint driver support (archeYR fork, cs9711-rebase branch)
	pkgver = 1.94.10.r1866.20260216.02b285c
	pkgrel = 1
	url = https://github.com/Zezinas/libfprint-CS9711
	arch = x86_64
	groups = fprint
	license = LGPL-2.1-or-later
	checkdepends = cairo
	checkdepends = umockdev
	checkdepends = doctest
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = python-cairo
	makedepends = python-gobject
	makedepends = systemd
	makedepends = cmake
	makedepends = doctest
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libgudev
	depends = libgusb
	depends = opencv
	depends = openssl
	depends = pixman
	provides = libfprint=1.94.10.r1866.20260216.02b285c
	provides = libfprint-2.so
	provides = libfprint-cs9711
	conflicts = libfprint
	source = git+https://github.com/Zezinas/libfprint-CS9711.git#branch=cs9711-rebase
	sha256sums = SKIP

pkgname = libfprint-cs9711-rebase-git-zez
